body {
    background-color: #E5C990; /* cor areia clara */
    color: #3B1F0B; /* marrom escuro, imitando papiro queimado */
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #C19A6B; /* tom dourado antigo */
    color: #1D1D1D;
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #A67C52; /* tom mais escuro ao passar o mouse */
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
    padding: 20px;
    background-color: #FFF6E5; /* tom papiro claro */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 90%;
    border-radius: 8px;
    margin-bottom: 15px;
}
